<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
    <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="top-news ">
            <h2><i class="fas fa-align-justify"></i>TOP NEWS</h2>
            {%for title,desc,img,p_date,url in contents %}
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 tn-left">
                    <div class="tn-img">
                        <img src="{{img}}">
                        <div class="tn-content">
                            <div class="tn-content-inner">
                                <a class="tn-date" href="{{url}}"><i class="far fa-clock"></i>{{p_date}}</a>
                                <a class="tn-title" href="{{url}}">{{title}}</a>
                                <a class="tn-desc" href="{{url}}">{{desc}}</a>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>


</body>
</html>